html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background-color: #F5F7DC;
	color: #0F0326;
}

.light-theme {
	color: #0F0326;
	background: #F5F7DC;;
}

.dark-theme {
	color: #F5F7DC;
	background: #0F0326;
}

@font-face {
	font-family: "ArchivoNarrow";
	src: url("./ArchivoNarrow.ttf");
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.2em;}

p, li, button, a) {
	font-size: 1em;
}